.topnav {
  background-color: rgb(75, 183, 172, 0.1); /* palegreen with 10% opacity */
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo {
  padding-top: 10px;
  height: 65px;
  margin-left: auto;
  filter: invert(1);
}

.nav-links {
  margin-left: auto;
  display: flex;
}

.nav-links a {
  float: right;
  color: wheat;
  text-align: center;
  padding: 10px 16px;
  text-decoration: underline solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

hr {
  margin: 0;      /* removes the space around the line */
  padding: 0;
  border: none;
  height: 2px;    /* thickness */
  background: white; /* line color */
}

.card-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: calc(100vh - 120px); /* full viewport height minus the height of the nav and hr */
  box-sizing: border-box;
}

/* Cards */
.card {
  flex: 1; /* each card takes equal space */

  flex-direction: column;

  border-radius: 30px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.2);

  /* Text styling */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;


  /* optional */
  backdrop-filter: blur(10px);
}

.launch-logo {
  width: 250px;
  height: auto;
  filter: invert(1);
}
.launch-logo-hover {
  width: 250px;
  height: auto;
  filter: invert(1);
  display: none;
}

/* Hover effect */
.card:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.3)
}
.card:hover .launch-logo {
  display: none;
}
.card:hover .launch-logo-hover {
  display: block;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./assets/PIA08787~orig.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
  color: white;
}